
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Email</title>
        <style>
            .welcome {
                color:blue;
                font-size: large;
            }
            .spacer {
                margin-bottom:20px;            
            
            }            
        </style>
    </head>
    <body>
        <strong><h1>Hello {{username}},</h1></strong>
        <p class="welcome">Welcome to our platform!</p>
        <div class="spacer"></div>
        <i>From {{company}}</i>
    </body>
</html>