<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Changed Password</title>
        <style>
            .spacer { margin-bottom:20px;  }     
        </style>
    </head>
    <body>   
        <strong><h1>Hello, {{username}}!</h1></strong>
        <div class="spacer"></div>
        Your password reset was successful !
        <div class="spacer"></div>
        <div class="spacer"></div>
        <i>From {{company}}</i>
    </body>
</html>




