<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Locked Account</title>
        <style>
            h1 { color:red; }
            .spacer {
                margin-bottom:20px;         
            
            }            
        </style>
    </head>
    <body>
        <strong>Hello, {{username}}!</strong>
        <p>Your account has been locked due to 3 failed logins attempt</p>       
        <div class="spacer"></div>
        <div class="spacer"></div>
        <i>From {{company}}</i>
    </body>
</html>




